:root {
    --header-footer-color: rgb(117, 94, 141);
    --sidebar-color: rgb(239, 234, 239);
}


@font-face {
    font-family: Raleway;
    src: url(/src/Assets/Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Alumni-Sans-Inline-One;
    src: url(/src/Assets/Fonts/AlumniSansInlineOne-Italic.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Raleway;
    color: rgb(34, 34, 34);
}

header {
    background-color: var(--header-footer-color);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: Alumni-Sans-Inline-One;
    font-size: 72px;
    padding-left: 40px;
    gap: 10px;
}

#logo {
    display: flex;
    flex-direction: row;
    animation-name: moveInRight;
    animation-duration: 1.7s;
    user-select: none;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-footer-color);
    margin: 0;
    height: 4vh;
    gap: 10px;
    width: 100vw;
}

footer img {
    height: 24px;
    width: 24px;
}

footer a,
footer p {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(143, 106, 181);
}

#content {
    display: flex;
    width: 100vw;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83vh;
    padding-left: 48px;
    background-color: var(--sidebar-color);
    padding-top: 5vh;
    border-right: 1px solid rgb(97, 87, 103);
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 235px;
}

#sidebar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-button {
    background: none;
    border: none;
    color: rgb(26, 25, 25);
    font-size: 22px;
    padding: 20px;
    font-family: Raleway;
}

.projects-title {
    color: rgb(26, 25, 25);
    font-size: 22px;
    padding: 20px;
    font-family: Raleway;
}

.side-button.active {
    font-weight: 600;
    font-size: 24px;
    color: rgb(143, 106, 181);
}

.side-button:hover {
    font-weight: 600;
    cursor: pointer;
}

#sidebar img {
    height: 24px;
    width: 24px;
}

#newItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 200;
    height: 3.7rem;
    width: 3.7rem;
    font-size: 5.5em;
    background-color: rgb(143, 106, 181);
    border-radius: 50%;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 48px;
    cursor: pointer;
    user-select: none;
}

#newItem:hover {
    background-color: rgb(150, 121, 179);
}

#newItem:active {
    background-color: rgb(143, 106, 181);
}

#main-area {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    padding: 5vh 4.5vw 3vh;
    width: 100%;
    overflow-y: auto;
}

#notes-area {
    padding: 5px 0;
    height: 78vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 17em));
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 2em;

}

.notecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    height: 12em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.notecard:hover {
    transform: scale(1.006);
    transform-origin: 50% 50%;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.28);
    transition: all .2s ease-out;
}

.note-title {
    padding-bottom: 1.5em;
    font-weight: 500;
    color: rgb(35, 35, 35);
}

.note-details {
    color: rgb(35, 35, 35);
}

.todo-area {
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.todo-card {
    display: flex;
    background-color: var(--sidebar-color);
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 0.9em;
}

.todo-card:hover {  
    transform: scale(1.003);
    transform-origin: 50% 50%;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.268);
    transition: all .2s ease-out;
}

.todo-right {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.todo-details {
    background-color: var(--sidebar-color);
    border: 3px solid rgba(110, 67, 152, 0.763);
    color: rgba(110, 67, 152, 0.763);
    font-size: 0.60em;
    font-weight: 800;
    font-family: Raleway;
    padding: 5px 8px;
    border-radius: 5%;
    transition-duration: 0.3s;
    cursor: pointer;
}

.todo-details:hover {
    color: white;
    background-color: rgba(110, 67, 152, 0.763);
    transition-duration: 0.3s;
}

#details-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 475px;
}

.todo-date {
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.3em;
}

.todo-icon {
    height: 1.05em;
    user-select: none;
    transition-duration: 0.15s;
}

.todo-icon-wrap {
    cursor: pointer;
}

.todo-icon-wrap:hover {
    transition-duration: 0.15s;
    filter: invert(32%) sepia(37%) saturate(1072%) hue-rotate(228deg) brightness(86%) contrast(88%);
}

object {
    pointer-events: none;   /* this line is needed to allow cursor:pointer when hovering over svgs */
}

#note-delete-btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(57, 57, 57);
    height: 0.5em;
    border: 0 none;
    padding: 0;
    align-self: flex-end;
    font-size: 1.2em;
    position: relative;
    left: 0.9em;
    bottom: 0.9em;
    cursor: pointer;
    transition-duration: 0.3s;
}

#note-delete-btn:hover {
    color: rgb(110, 67, 152);
    font-weight: 900;
    transition-duration: 0.3s;
}


::-webkit-scrollbar {   /* override styling for scrollbar */
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(207, 182, 212, 0.404);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 106, 181, 0.521);
}

label > input[type=checkbox] {   /* override styling for checkboxes */
    display: none;
}

label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgba(110, 67, 152, 0.763);
    transition-duration: 0.3s;
}

label > input[type="checkbox"]:checked + *::before {
    content: "✔";
    color: white;
    text-align: center;
    background: rgb(110, 67, 152);
    border-color: rgb(110, 67, 152);
    transition-duration: 0.3s;
}
label > input[type="checkbox"]:checked + * {
    color: rgb(110, 67, 152);
    transition-duration: 0.3s;
}

@keyframes moveInRight {  /* animation for title */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
