:root {
    --header-footer-color: rgb(60, 60, 60);
}


@font-face {
    font-family: Raleway;
    src: url(/src/Assets/Fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Alumni-Sans-Inline-One;
    src: url(/src/Assets/Fonts/AlumniSansInlineOne-Italic.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Raleway;
}

header {
    background-color: var(--header-footer-color);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: Alumni-Sans-Inline-One;
    font-size: 72px;
    padding-left: 40px;
    gap: 10px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-footer-color);
    margin: 0;
    height: 4vh;
    gap: 10px;
    width: 100vw;
}

footer img {
    height: 24px;
    width: 24px;
}

footer a,
footer p {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 225, 134);
}

#content {
    display: flex;
    width: 100vw;
}

#sidebar {
    height: 83vh;
    min-width: 235px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    justify-content: flex-start;
    background-color: rgb(226, 226, 226);
    padding-top: 5vh;
    border-right: 1px solid rgb(115, 115, 115);
}

#sidebar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-button {
    background: none;
    border: none;
    color: rgb(26, 25, 25);
    font-size: 22px;
    padding: 20px;
    font-family: Raleway;
}

.side-button.active {
    font-weight: 600;
    font-size: 24px;
}

.side-button:hover {
    font-weight: 600;
    cursor: pointer;
}

#sidebar img {
    height: 24px;
    width: 24px;
}

#main-area {
    background-color: rgb(255, 255, 255);
    height: 78vh;
    padding: 7vh 4.5vw 3vh;
    width: 100%;
    overflow-y: auto;
}

#notes-area {
    height: 78vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 17em));
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 2em;
}

.notecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    height: 12em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.note-title {
    padding-bottom: 1.5em;
    font-weight: 500;
    color: rgb(35, 35, 35);
}

.note-details {
    color: rgb(35, 35, 35);
}

.todo-area {
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.todo-card {
    display: flex;
    background-color: rgb(226, 226, 226);
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.7em;
}

.todo-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.todo-date {
    font-size: 0.7em;
    padding: 0 1em;
}

.todo-icon {
    height: 1.2em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgba(182, 212, 211, 0.404);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(159, 210, 208, 0.587);
}
